.button {
  padding: $gutter-base;
  background-color: $primary-blue;
  border-radius: $border-radius-base;
  color: #fff;
  border: none;
  font-family: Circular-Air-Light;
  font-size: $font-size-base;
  box-shadow: $box-shadow-base;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-blue, 10);
  }

  &:active {
    background-color: darken($primary-blue, 15);
  }

  &.neutral {
    background-color: #fff;
    color: $primary-blue;
  }
}
