.heading-1 {
  font-family: Circular-Air-Bold;
  font-size: 32px;
  line-height: 42px;
  color: $primary-blue;
  margin: 0;
}

.heading-2 {
  font-family: Circular-Air-Bold;
  font-size: 20px;
  line-height: 25px;
  color: $primary-blue;
  margin: 0;
}
