$note-background-color: #F2F2F2;

.note {
  border-radius: $border-radius-base;
  padding: $gutter-base;
  background-color: $note-background-color;

  & > p {
    margin: 0;
  }

  .note-sign {
    display: block;
    color: $secondary-orange;
    font-family: Circular-Air-Bold;
    line-height: 20px;
  }
}
