.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $font-color-base;

  .heart {
    color: red;
    margin: 0 $gutter-base / 3;
  }

  img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 $gutter-base / 3;
    border-radius: 50%;
  }

  &:hover {
    text-decoration: underline;
  }
}
