.docs {

  .quote {
    margin: 0 0 2 * $gutter-base;
    padding-left: $gutter-base;
    border-left: 4px solid $font-color-base;
  }

  .heading-2 {
    margin-bottom: $gutter-base;
  }

  .component-list {
    margin-bottom: 2 * $gutter-base;

    ul {
      padding-left: 20px;

      li {
        margin-bottom: $gutter-base;
      }
    }
  }

  .card .card-body > .Collapsible {

    .Collapsible__trigger {

      .accordion-title {
        display: flex;
        align-items: center;

        .triangle {
          transition: all 0.3s ease-in-out;
          margin: 0 $gutter-base - 5px 0 auto;
          @include triangle($gutter-base, "down", $primary-blue);
        }
      }

      &.is-open .accordion-title .triangle {
        transform: rotate(180deg);
      }
    }

    .Collapsible__contentInner {
      padding-top: $gutter-base * 2;

      p {
        margin-bottom: 0;
      }

      .table .row .column-1 {
        flex: 0.4;
      }

      .breakpoint-snippets {
        display: flex;
        flex-wrap: wrap;

        .snippet {
          margin: 0 $gutter-base / 3 $gutter-base / 3 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: $gutter-base;
      padding-bottom: $gutter-base;
      border-bottom: 1px solid #EAEAEA;
    }
  }
}
