@font-face {
  font-family: Circular-Air-Bold;
  src: url(../font/Circular_Air-Bold.woff2);
}

@font-face {
  font-family: Circular-Air-Book;
  src: url(../font/Circular_Air-Book.woff2);
}

@font-face {
  font-family: Circular-Air-Light;
  src: url(../font/Circular_Air-Light.woff2);
}

.bold {
  font-family: Circular-Air-Bold;
}

.code,
.snippet {
  font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}
